@charset "UTF-8";

/* ------------ Common -------------- */
:root {
    /* 1 */
    /* --main-color: #364F6B;
    --sub-color-blue: #3FC1C9;
    --sub-color-pink: #FC5185; */
    /* ///////////////////////// */
    /* 2 楽しいイメージのカラー */
    --main-color: #3b82c4;
    --sub-color-blue: #3aacad;
    --sub-color-pink: #f67690;
    /* ///////////////////////// */
    /* 3 おしゃれなイメージのカラー */
    /* --main-color: #00A5DD;
    --sub-color-blue: #00A096;
    --sub-color-pink: #FF006F; */
    /* ///////////////////////// */
    /* 4 清潔感のある青 */
    /* --main-color: #009BC6;
    --sub-color-blue: #7FD9D2;
    --sub-color-pink: #f67690; */
    /* ///////////////////////// */
    /* 5 スポーティーなカラー */
    /* --main-color: #00A0DC;
    --sub-color-blue: #3aacad;
    --sub-color-pink: #FF2599; */
    /* ///////////////////////// */
    /* テキストカラー */
    --main-text-black: #474747;
}

h1, h2, h3, p, a {
    padding: 0;
    margin: 0;
}

/* リンク設定 */
a {
    text-decoration: none;
}

a:hover {
    opacity: .7;
}

a.card {
    color: var(--main-text-black);
}

.blue-link {
    color: #4ec0ff;
    color: #a1deff;
}

.blue-link:hover {
    color: #4ec0ff;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

main {
    min-height: calc(100vh - 7rem)
}

footer {
    text-align: center;
}

.container-fluid {
    padding: 0;
    max-width: 800px;
}

.container-inner {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.bg-main-color {
    background-color: var(--main-color);
}

.bg-sub-color {
    background-color: var(--sub-color-pink);
}

/* ---------------------- 各フォント設定 ------------------------- */
h2, h3 {
    font-weight: 400;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    /* font-family: 'Noto Sans JP', sans-serif; */
    color: var(--main-text-black);
}

.page-header {
    /* font-family: 'M PLUS 1p', sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1rem;
}

.small-heading {
    font-size: .8rem;
    text-align: left;
    padding: .5rem .5rem 0;
}

h2.small-heading {
    padding: 0 1rem;
}

.small-text {
    font-size: .6rem;
    text-align: left;
}

.textalign-left {
    text-align: left;
}

.pale-text {
    color: #8c8c8d;
}

.copyright {
    /* font-family: 'M PLUS 1p', sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

.font-white {
    color: #fff;
}

.font-white:hover {
    color: #fff;
}

/* --------------- フォームのエラーメッセージ ----------------- */
.help-block {
    color: var(--sub-color-pink);
    font-size: .8rem;
}

/* ---------------------- Flash Messages ---------------------- */
.flashes {
    text-align: center;
    font-size: .8rem;
}

.flashes li {
    padding: .5rem;
}

.success {
    background-color: var(--sub-color-blue);
}

.error {
    background-color: #FF2E63;
}

/* ----------------- 上下中央揃えするためのtable設定 ------------------ */
.table-container {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* ------------- Nav Bar --------------- */
.nav-bar {
    padding-left: 1rem;
    padding-right: 1rem;
}

#page-header .container-fluid {
    /* padding: 0 1rem; */
    height: 72px;
    position: relative;
}

#page-header nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

#navbarToggler {
    z-index: 5;
    padding-left: 70%;
}

#navbarToggler ul {
    /* background-color: #0074d6; */
    padding: 1.5rem;
}

.navbar-toggler {
    padding: .25rem;
}

.navbar-nav {
    text-align: right;
    border-color: #fff;
    border-style: solid;
    border-width: .25px;
}

/* ----------------- Logo ------------------- */
.brand-logo {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-align: center;
}

.project-logo h2 {
    font-size: .8rem;
}

span.project-logo {
    display: inline-block;
    padding: 0.1em 0;
}

.logo-top {
    border-bottom: .08rem solid #fff;
}

.project-logo {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-align: center;
}

/* ------------- Login ------------- */
/* .login {
    display: inline-block;
    height: 45px;
    line-height: 45px;
} */
/* --------------- Card Common ------------------- */
.card {
    margin: .5rem;
    /* border: none; */
}

.card-body {
    padding: .5rem;
}

.card-footer {
    padding: 0;
    border: none;
    /* background-color: var(--sub-color-blue); */
}

/* ------------- Section Progress -------------- */
#progress {
    text-align: center;
    padding: 1rem 0;
}

#progress .card-footer .d-flex {
    overflow: scroll;
}

.progress-board {
    padding: 2rem .5rem;
}

.progress-header {
    margin: 0 auto;
}

.progress-header .table-container {
    min-height: 84px;
}

.progress-header p {
    font-size: 1rem;
}

.total-score-box {
    margin: 0 auto;
}

.total-score {
    font-size: 2.5rem;
}

.lang-score {
    min-width: 80px;
}

/* ----------------- Section Choose Lang ------------------- */
#choose-lang {
    text-align: left;
    padding: 0 0 3rem;
}

.choose-word-card:hover {
    background-color: #f0f8ff;
}

.choose-word-card .card-body {
    padding: 1rem .5rem;
    display: flex;
}

.choose-section {
    padding-left: 2rem;
}

.choose-word-set {
    padding-left: 2rem;
}

.learning-date {
    margin-left: auto;
    color: #8c8c8d;
    display: flex;
    align-items: center;
}

/* ------------------ Word Card ------------------- */
#word-quiz {
    padding-top: 1rem;
    text-align: center;
}

.progress {
    margin: 1rem .5rem 0;
    height: .5rem;
}

.progress-bar {
    background-color: var(--sub-color-blue);
}

.word-card {
    height: 12rem;
    min-width: 300px;
    margin-top: 1rem;
    color: #000;
}

.button-container {
    position: relative;
    height: 200px;
    min-width: 300px;
    /* padding: 1rem; */
}

#result-input, #wordlist-input, #langname-input {
    display: none;
}

#word-to-learn {
    font-size: 2.25rem;
}

#word-answer {
    font-size: 1.25rem;
}

#cd-timer {
    font-size: 1rem;
}

.time-display {
    margin-top: 1rem;
}

/* ------------------ Login Page --------------------- */
#login-section {
    padding: 6rem 3rem;
    text-align: center;
}

#login-section h1 {
    margin-bottom: 2rem;
}

.form-group {
    padding-bottom: 1rem;
    text-align: left;
}

.form-group label {
    font-size: .8rem;
    margin-bottom: .5rem;
}

#submit {
    margin-top: 1rem;
}

/* ------------------ Result Page -------------------- */
#result {
    padding-top: 1rem;
}

.result-container {
    padding: 0 1rem 3rem;
}

.result-container p+p {
    margin-left: auto;
    width: 40%;
    text-align: left;
}

.result-container ul {
    background-color: #fff;
    padding: .8rem 1.5rem;
}

.result-container li {
    padding: .5rem 1.5rem;
}

.result-container li+li {
    border-top: 1px solid #ccc;
}

.result-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    color: red;
}

.result-btn-container {
    padding: 0 3rem;
}

.result-btn-container .button {
    margin-left: 0;
}

.result-btn-container .button+.button {
    margin-right: 0;
    margin-left: auto;
}

.review-btn-container {
    padding: 0 3rem;
}

/* ------------- Edit Word Page ------------- */
.edit-icon-container {
    text-align: right;
    padding-right: .5rem;
    padding-top: .8rem;
}

.edit-icon-container .edit-icon {
    margin: 0;
}

.edit-icon {
    width: 1rem;
    height: 1rem;
    color: #77b3df;
    margin-left: 1rem;
}

.edit-icon:hover {
    color: #77b3df;
}

#edit-section {
    text-align: center;
}

#edit-section .card-body {
    padding: 2.5rem;
}

/* -------------------- ランディングページ ----------------------- */
.main-copy-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.main-copy {
    font-size: 2.5rem;
    padding-left: 1.5rem;
    font-weight: 300;
}

.sub-copy {
    font-size: 1.43rem;
}

.xlarge-btn-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-section {
    padding-top: 1rem;
}

/* --------------- Vocastaとは　ページ ---------------- */
#about-first-view {
    min-height: calc(100vh - 72px);
}
#about-features {
    padding-left: .5rem;
    padding-right: .5rem;
}

.about-sections {
    padding: 1.5rem 0 3rem;
}

.section-header {
    padding: 0 1rem;
}

.section-header p {
    margin-bottom: 1rem;
}

.about-main-heading {
    padding: 0;
    margin: 0 auto 3rem;
    font-size: 4rem;
}
.about-sub-heading {
    font-size: 1.5rem;
}

.about-slide-img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
.carousel-inner {
    height: 35vh;
}
.carousel-item {
    height: 100%;
}

.feature-icon {
    width: 64px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.feature-card {
    padding: 3rem 2rem;
    width: 320px;
    max-width: 320px;
    margin: 1.5rem auto;
    border-radius: 50px;
}

.feature-heading {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: .8rem;
}

.feature-discription {
    color: #707071;
}

.feature-discription .small-heading {
    padding: 0;
    display: block;
    margin-top: .8rem;
}

.carousel {
    margin-bottom: 5rem;
}

.action-fook h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.q-a-list {
    padding: 1.5rem 2rem;
    /* margin-bottom: 10rem; */
}
.q-a-list * {
    margin-bottom: 1.5rem;
}
.q-a-list li {
    margin-bottom: 3rem;
}
.q-a-list h3 {
    font-size: 1.25rem;
}

/* --------------- 準備中ページ --------------- */
#getting-ready {
    color: #fff;
}

.apologize-man-img {
    width: 250px;
    margin: 0 auto;
}

/* --------------------- Buttons ------------------------ */
/* - ボタン一般 - */
.button {
    display: block;
    font-weight: 300;
    padding: .5rem;
    margin: 1.5rem auto 0;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    font-size: .8rem;
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: 'M PLUS 1p', sans-serif; */
    font-weight: 300;
}

.button:hover {
    opacity: .7;
}

.btn-120 {
    width: 120px;
}

.btn-150 {
    width: 150px;
}

.x-large-btn {
    display: block;
    margin: 1rem auto;
    border-radius: 9999px;
    height: 48px;
    font-size: 1rem;
}

.btn-blue {
    background-color: var(--sub-color-blue);
    border-color: var(--sub-color-blue);
}

.btn-pink {
    background-color: var(--sub-color-pink);
    border-color: var(--sub-color-pink);
}

.btn-gray {
    background-color: #F5F5F5;
    border-color: #c4c4c4;
}

/* - クイズページボタン - */
.answer-btns {
    position: absolute;
    bottom: 0px;
    display: none;
}

.btn-absolute-center {
    left: 50%;
    transform: translateX(-50%);
}

.check-ans-btn {
    display: block;
}

.memorized-btn {
    right: 12%;
}

.notmemorized-btn {
    left: 12%;
}

/* - LPログインボタン - */
.login-btn {
    background-color: transparent;
    border-color: var(--sub-color-pink);
    color: var(--sub-color-pink);
    margin-bottom: 1rem;
}

.login-btn:hover {
    background-color: rgba(252, 81, 133, 30%);
    border-color: var(--sub-color-pink);
    color: #fff;
}

.back-to-home {
    margin-top: 0;
    margin-left: 1rem;
}

/* ----------------------- メディアクエリ モバイル ------------------------ */
@media screen and (max-width: 500px) {
    #navbarToggler {
        padding-left: 50%;
    }

    .answer-btns {
        width: 120px;
    }

    .check-ans-btn, .showresult-btn {
        width: 150px;
    }
}
