{% include "header.html" %}
<main class="bg-main-color">
    <!-- <main class="bg-main-color"> -->
    <div class="container-fluid d-flex flex-column">
        <div class="container-inner">
            <!-- Choose Language Section -->
            <a class="font-white" href="{{ url_for('home') }}">&laquo;ホームに戻る</a>
            <section class="main-section">
                <h2 class="page-header font-white">{{ lang_headings[lang] }}</h2>
                <!--------------------------------------------------------------->
                {% for i in range(10) %}
                {% set section_num = (i + 1) * 100 + word_from %}

                {% set from_ = 1+i*100 + word_from %}
                {% set index = (from_, section_num) | join("-") %}
                {% if current_user.is_authenticated and current_user.id == 1 %}
                <div class="edit-icon-container">
                    <span class="font-white small-text">{{index}}語</span>
                    <a class="fal fa-edit edit-icon" href="{{ url_for('inspect_words', lang=lang, index=index) }}"></a>
                </div>
                {% endif %}

                <div class="card choose-word-card" data-bs-toggle="collapse" data-bs-target="#{{lang}}-child-{{ section_num }}" aria-expanded="false" aria-controls="{{lang}}-child-{{ section_num }}">
                    <div class="card-body">
                        {% if current_user.is_authenticated %}
                        {% set user_logs = StudyLog.query.filter(StudyLog.user_id == current_user.id).filter(StudyLog.word_id >= from_ + lang_list.index(lang) * 3000).filter(StudyLog.word_id <= section_num + lang_list.index(lang) * 3000).all() %}
                        <p>{{ from_ }}~{{ section_num }}語</p><span class="learning-date small-text">{{ tell_me_the_latest_study_date(user_logs) }}</span>
                        {% else %}
                        <p>{{ from_ }}~{{ section_num }}語</p>
                        {% endif %}
                    </div>
                </div>
                <section class="choose-word-set collapse" id="{{lang}}-child-{{ section_num }}">

                    {% for number in range(i*10, i*10 + 10) %}
                    {% set num1 = 1 + number * 10 + word_from %}
                    {% set num2 = (number + 1) * 10 + word_from %}
                    {% set index_num = (num1, num2)|join("-") %}
                    <a class="card choose-word-card" href="{{ url_for('quiz', lang=lang, index=index_num) }}">
                        <div class="card-body">
                            {% if current_user.is_authenticated %}
                            {% set user_logs = StudyLog.query.filter(StudyLog.user_id == current_user.id).filter(StudyLog.word_id >= num1 + lang_list.index(lang) * 3000).filter(StudyLog.word_id <= num2 + lang_list.index(lang) * 3000).all() %}
                            <p>{{ num1 }}~{{ num2 }}語</p><span class="learning-date small-text">{{ tell_me_the_latest_study_date(user_logs) }}</span>
                            {% else %}
                            <p>{{ num1 }}~{{ num2 }}語</p>
                            {% endif %}

                        </div>
                    </a>
                    {% endfor %}
                </section>

                {% endfor %}
            </section>
            <!-------------------------------------------------------->
        </div>

    </div>
</main>
{% include "footer.html" %}
