{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<main class="bg-main-color">
    <div class="container-fluid d-flex flex-column">
        <div class="container-inner">
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <section id="edit-section">
                <h2 class="page-header font-white">Edit</h2>
                <div class="card card-body">
                    {% if current_user.is_authenticated and current_user.id == 1 %}
                    <form action="" method="post" role="form" novalidate>
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}

                        {{ wtf.form_field(form.word) }}
                        {{ wtf.form_field(form.ja) }}
                        {{ wtf.form_field(form.submit, class="btn button btn-150 btn-pink font-white") }}
                    </form>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
</main>
{% include "footer.html" %}
