{% include "header.html" %}
<main class="bg-main-color">
<!-- <main class="bg-main-color"> -->
    <div class="container-fluid d-flex flex-column">
        <div class="container-inner">
            <!-- Progress Board -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashes font-white">
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <section id="progress">

            <h2 class="page-header font-white">Home</h2>

                <div class="card">
                    <section class="progress-board card-body d-flex justify-content-between">
                        <header class="progress-header">
                                <div class="table-container">
                                    <p class="table-cell">あなたが覚えた単語数</p>
                                </div>
                        </header>

                        <div class="total-score-box">
                            <p>Total</p>
                            <p class="total-score">{{ user_score }}語</p>
                        </div>
                    </section>
                    <section class="card-footer">
                        <header>
                            <h3 class="small-heading">言語別</h3>
                        </header>
                        <div class="d-flex">
                            {% for lang in lang_list %}
                            <div class="lang-score card">
                                <div class="card-body">
                                    <p class="small-text">{{ lang_headings[lang] }}</p>
                                    <p>{{ user_scores[lang_list.index(lang)] }}語</p>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </section>
                </div>
            </section>
            <!-- Choose Language Section -->
            <section id="choose-lang">
                <h2 class="small-heading font-white">学習する</h2>
<!--------------------------- Language List ----------------------------->
            {% for lang in lang_list %}
                <div class="card choose-word-card" data-bs-toggle="collapse" data-bs-target="#{{lang}}-child" aria-expanded="false" aria-controls="{{lang}}-child">
                    <div class="card-body">
                    {% if current_user.is_authenticated %}
                        {% set user_logs = StudyLog.query.filter(StudyLog.user_id == current_user.id).filter(StudyLog.word_id > lang_list.index(lang) * 3000).filter(StudyLog.word_id <= lang_list.index(lang) * 3000 + 3000).all() %}
                        <p>{{lang_headings[lang]}}　3000</p><span class="learning-date small-text">{{ tell_me_the_latest_study_date(user_logs) }}</span>
                    {% else %}
                        <p>{{lang_headings[lang]}}　3000</p>
                    {% endif %}
                    </div>
                </div>
                <section class="choose-section collapse" id="{{lang}}-child">

                    {% for i in range(3) %}
                    {% set section_num = (i + 1) * 1000 %}

                    {% set index = (1+i*1000, section_num) | join("-") %}
                    {% if current_user.is_authenticated and current_user.id == 1 %}
                    <div class="edit-icon-container">
                        <span class="text-white small-text">{{index}}</span>
                        <a class="fal fa-edit edit-icon" href="{{ url_for('inspect_words', lang=lang, index=index) }}"></a>
                    </div>
                    {% endif %}

                    <a class="card choose-word-card" href="{{ url_for('choose_quiz', lang=lang, index=index) }}">
                        <div class="card-body">
                            {% if current_user.is_authenticated %}
                                {% set user_logs = StudyLog.query.filter(StudyLog.user_id == current_user.id).filter(StudyLog.word_id >= 1 + i * 1000 + lang_list.index(lang) * 3000).filter(StudyLog.word_id <= section_num + lang_list.index(lang) * 3000).all() %}
                                <p>{{ 1 + i * 1000 }}~{{ section_num }}語</p><span class="learning-date small-text">{{ tell_me_the_latest_study_date(user_logs) }}</span>
                            {% else %}
                                <p>{{ 1 + i * 1000 }}~{{ section_num }}語</p>
                            {% endif %}
                        </div>
                    </a>
                    {% endfor %}
                </section>

                {% endfor %}
<!-------------------------------------------------------->
            </section>
        </div>

    </div>
</main>
{% include "footer.html" %}
