{% include "header.html" %}

<main class="bg-main-color">
    <div class="container-fluid d-flex flex-column">
        <div class="container-inner">
            <section id="lp-main">
                <!-- <h2 class="page-header">Vocasta</h2> -->
                <div class="main-copy-container">
                    <p class="main-copy font-white">全5ヶ国語、<br>計15,000単語を<br>無料で。</p>
                </div>
                <div>

                    <div class="xlarge-btn-container">
                        <p class="sub-copy font-white">Vocastaをはじめよう</p>
                        <a class="btn button x-large-btn btn-pink font-white d-flex justify-content-center align-items-center" href="{{url_for('register')}}">
                            <div>
                                アカウント作成
                            </div>
                        </a>
                        <a class="btn button x-large-btn login-btn d-flex justify-content-center align-items-center" href="{{url_for('login')}}">
                            <div>
                                ログイン
                            </div>
                        </a>

                        <a class="font-white" href="{{ url_for('about') }}"><u>Vocastaとは&raquo;</u></a>
                    </div>
                </div>

            </section>
        </div>

    </div>
</main>
{% include "footer.html" %}
